@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

body {
  /* background: linear-gradient(to bottom, #090016, #2d004f); */
  background: linear-gradient(to bottom, #2d004f, #090016);
  min-height: 100vh;
  color: white;
}
