@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  /* background: linear-gradient(to bottom, #090016, #2d004f); */
  /* background: linear-gradient(to bottom, #2d004f, #090016); */

  background: radial-gradient(
    98.42% 98.42% at 50% 1.58%,
    #3b1959 0%,
    #1a0a27 72.5%
  );
  color: white;
}

#root {
  min-height: 100vh;
  /* height: 100%; */
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@theme {
  --color-black-editor: #1e1e1e;
  --color-blue-q: #3f34c0;
  --color-purple-1: #1a0a27;
  --color-purple-2: #261236;
  --color-pink-q: #d100d7;
  --color-gray-q-1: #d9d9d9;
  --color-gray-q-2: #8f8f8f;
  --color-gray-q-3: #303030;
  --shadow-1: 0px 0px 4px 0px #d100d7, 0px 0px 10px 0px #d100d7e2;
  --shadow-2: 0px 0px 8px 0px #d100d7, 0px 0px 20px 0px #d100d7e2;

  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}
